*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
}

.header-section{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header img{
  width: 250px;
}

.nav-bar ul{
  display: flex;
  flex-direction: row;
  margin-top: 1.8rem;
  gap: 1.5rem;
  list-style: none;
  font-weight: bold;
}

.nav-bar ul a{
  color: #000;
  text-decoration: none;
}

.nav-bar ul a:active{
  color:#F4CE14;
  text-decoration: none;
}

main{
  width: 100%;
  display: grid;
}

main .info-book{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  font-family: 'Markazi Text';
}

main .info-book p{
  width: 40%;
  color: #EDEFEE;
  font-family: Karla;
}

main .info-book .info-book-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

main .info-book .info-book-content h2{
  color: #EDEFEE;
  margin-top: -15px;
  font-size: 1.25rem;
}

main .info-book .info-book-content h1{
  color: #F4CE14;
}

main .info-book .info-book-content button{
  background-color: #F4CE14;
  color: #000;
  font-family: 'Inter';
  font-weight: bold;
  border-radius: 10px;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  border: 0px;
}

main .info-book .info-book-content button:hover{
  background-color: #000;
  color: #F4CE14;
  cursor: pointer;
}

main .info-book img{
  height: 80%;
  border-radius: 10px;

}

main .specials{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .specials .cards{
  width: 300px;
  height: 375px;
  background-color: #EDEFEE;
  border-radius: 10px;
}

main .specials .cards-container{
  display: flex;
  justify-content: space-evenly;
}

main .specials .specials-info{
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  font-family: 'Markazi Text';
}

main .specials .specials-info button{
  background-color: #F4CE14;
  color: #000;
  font-family: 'Inter';
  font-weight: bold;
  border-radius: 10px;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  border: 0px;
}
main .specials .specials-info button:hover{
  background-color: #000;
  color: #F4CE14;
  cursor: pointer;
}


main .specials .cards .price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

main .specials .cards .price p{
  padding-top: 6px;
  text-align: right;
  color: #EE9972;
}

main .specials .cards > p:nth-of-type(1){
  color: #495E57;
  padding-left: 10px;
  padding-right: 5px;
}

main .specials .cards > p:nth-of-type(2){
  padding: 10px;
  color: black;
}

main .specials .cards > p:nth-of-type(2)::after{
  padding-left: 0.5rem;
  content: "🛵";
}


main .specials img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer{
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  position: static;
  justify-content: center;
}

footer img{
  width: 20%;
}

footer ul{
  list-style: none;
  padding-bottom: 1rem;
}

.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-page{
  /* background-color: rebeccapurple; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-page a{
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  color: #000;
}

.booking-page a:active{
  color: #F4CE14;
}

form{
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
}